<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903162378538-kkis2v5j5l5oc9pe7cjbe6lashsn0o4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903162378538-kkis2v5j5l5oc9pe7cjbe6lashsn0o4u</string>
	<key>API_KEY</key>
	<string>AIzaSyDtB0wp3x8g4FgQTP1iGeQH7qtegMsi6hU</string>
	<key>GCM_SENDER_ID</key>
	<string>903162378538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obras.tablet</string>
	<key>PROJECT_ID</key>
	<string>obras-153ae</string>
	<key>STORAGE_BUCKET</key>
	<string>obras-153ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903162378538:ios:969d44ef5a3958f8afc653</string>
</dict>
</plist>